<?xml version="1.0"?>

<model>
  <name>Logistics League Field 2017</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
   <name>Stefan Profanter</name>
   <email>profante@cs.tum.edu</email>
  </author>

  <description>
    The RoboCup Logistics League Field for 2017
  </description>
</model>
