<?xml version="1.0"?>

<model>
  <name>German Open Logistics League Field</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>
  <sdf version="1.4">model_1_4.sdf</sdf>

  <author>
   <name>Stefan Profanter</name>
   <email>profante@cs.tum.edu</email>
  </author>

  <description>
    The RoboCup Logistics League Field for 2015
  </description>
</model>
