# Generic globs
/core*
*~
.deps_*
.objs_*

# Generated protobuf files
*.pb.h
*.pb.cpp

# Eclipse project files, some are using it...
.cproject
.project
.settings

# Vim files
.*.swp
.*.swo

# CTags files
.tags_sorted_by_file
.tags

# Specific paths, _ variants for cross compilation environments
/plugins/lib/
/plugins/lib_*/
/plugins/plugins/
/plugins/plugins_*
