# Generic globs
/core*
*~
.deps_*
.objs_*

# Generated protobuf files
*.pb.h
*.pb.cpp

# Eclipse project files, some are using it...
.cproject
.project
.settings

# Vim files
.*.swp
.*.swo

# Specific paths, _ variants for cross compilation environments
/lib/
/lib_*/
/plugins/
/plugins_*
