<?xml version="1.0"?>

<model>
  <name>Depthcam</name>
  <version>1.0</version>
  <sdf version="1.4">model.sdf</sdf>

  <author>
    <name>Frederik Zwilling</name>
    <email>frederik.zwilling@rwth-aachen.de</email>
  </author>

  <description>
    Model and Sensor of a Kinect or Xtion.
  </description>
</model>
