<?xml version="1.0"?>
<model>
  <name>Robotino BBU</name>
  <version>1.0</version>
  <sdf version='1.4'>model.sdf</sdf>

  <author>
   <name>Stefan Profanter</name>
   <email>profante@cs.tum.edu</email>
  </author>

  <description>
    Robotino 3 for Bavarian Bending Units Team
  </description>
</model>
