<?xml version="1.0"?>
<model>
	<name>Hokuyo Laser URG-04LX-UG01 Front</name>
	<version>0.1</version>
	<sdf version='1.4'>model.sdf</sdf>

	<author>
		<name>Valentin Vergez</name>
		<email>valentin.vergez@gmail.com</email>
	</author>

	<description>
	Default Hokuyo URG-04LX-UG01 laser with ros plugin
	</description>
</model>