<?xml version="1.0"?>

<model>
  <name>Light Signals</name>
  <version>1.0</version>
  <sdf version="1.4">model.sdf</sdf>

  <author>
    <name>Frederik Zwilling</name>
    <email>frederik.zwilling@gmail.com</email>
  </author>

  <description>
    Light signals attached to an MPS. Has a plugin that listens for messages to the parent model (MPS) and make the turned on lights visible. (Blinking by default)
  </description>
</model>
