<?xml version="1.0"?>
<model>
	<name>Overview Camera</name>
	<version>0.1</version>
	<sdf version='1.4'>model.sdf</sdf>

	<author>
		<name>Valentin Vergez</name>
		<email>valentin.vergez@gmail.com</email>
	</author>

	<description>
		Small field of view, long distance camera with ros plugin.
		Commonly used to supervise simulation.
	</description>
</model>