<?xml version="1.0"?>

<model>
  <name>Label</name>
  <version>1.0</version>
  <sdf version="1.4">model.sdf</sdf>

  <author>
    <name>Frederik Zwilling</name>
    <email>frederik.zwilling@gmail.com</email>
  </author>

  <description>
    A label to show the robotino numbers
  </description>
</model>
