<?xml version="1.0"?>
<model>
  <name>Carologistics Robotino 3</name>
  <version>1.0</version>
  <sdf version='1.4'>model.sdf</sdf>

  <author>
    <name>Frederik Zwilling</name>
    <email>zwilling@kbsg.rwth-aachen.de</email>
  </author>

  <description>
    Robotino 3 of the Carologistics Team
  </description>
</model>
