<?xml version="1.0"?>
<model>
  <name>Carologistics-Gripper</name>
  <version>0.1</version>
  <sdf version='1.3'>model.sdf</sdf>

  <author>
   <name>Zwilling</name>
   <email>zwilling@kbsg.rwth-aachen.de</email>
  </author>

  <description>
    The Gripper used by Carologistics
  </description>
</model>
