<?xml version="1.0"?>
<model>
  <name>Noisy Hokuyo Laser</name>
  <version>1.0</version>
  <sdf version='1.4'>model.sdf</sdf>

  <author>
   <name>Stefan Profanter</name>
   <email>gazebo@s.profanter.me</email>
  </author>

  <description>
    Default Hokuyo laser with added gaussian noise
  </description>
</model>
